$primary-color: #ffff00;
$body-background-color: #000;

$family-primary: courier new;

$card-background-color: transparent;
$card-color: $primary-color;

$navbar-background-color: $body-background-color;
$navbar-item-color: $primary-color;

$button-color: $primary-color;
$button-background-color: $body-background-color;
$button-border-color: $primary-color;