.card {
  margin-top: 20px;
  background-color: transparent;
}

.card-content {
  background: #000;
}

.small-card {
  width: 80%;
}

.big-card {
  width: 90%;
}

.big-card-content {
  background: linear-gradient(rgba(41, 41, 95, 0.9),rgba(0,0,10,0.9))
}
